body {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:12px;
}

.filetree-node {
    margin-left:1.2em;
}

.filetree-node li {
    list-style:none;
    cursor:pointer;
}



.filetree-node li.folder .folder-toggle:before {
    content:"\f0da";
    font-family:"FontAwesome";
    display:inline-block;
    margin-right:4px;
}

.filetree-node li.folder .folder-toggle.open:before {
    content:"\f0d7";
}
