body { background:transparent; }

#general {
    padding:0 8px;
}

    #message {
        width:206px;
    }


#commits { 
    border-top:1px solid #404040;
    padding:1em 0 0.5em 0;
}

#commit-list li {
    color:#ddd;
}


#stage-files > .filetree-node {
    border-top:1px solid #404040;
    padding:1em 0 1em 0.5em;
}

.filetree h1,
.filetree h2 {
    padding:0.4em 0 0.4em 0.4em;
}

.filetree ul {
    padding:0 0 0 1.4em;
    margin:0;
}

.filetree ul li {
    list-style:none;
    cursor:pointer;
    margin:0.1em 0
}

.filetree ul li.folder .folder-toggle:before {
    content:"\f0da";
    font-family:"FontAwesome";
    display:inline-block;
    margin-right:4px;
}

.filetree ul li.folder .folder-toggle.open:before {
    content:"\f0d7";
}

.filetree h1,
.filetree h2,
.filetree h3 {
    font-size:13px;
    line-height:16px;
    font-weight:normal;
    display:block;
    margin:0;
}

.filetree h1 {
    background:rgba(10, 10, 10, 0.5);
    border-bottom:1px solid #2a2a2a;

    margin-top:2em;
    border-top:2px solid #555;
}
.filetree h2 {
    background:rgba(10, 10, 10, 0.3);
    border-bottom:1px solid #2a2a2a;
}

.filetree ul li.folder { color:#aaa; }
.filetree ul li.folder h3 { 
    border-right:1px solid #404040;
    font-size:12px;
}
.filetree ul li.folder h3.open .weight { display:none; }

.filetree .change { color:#eee; }


.hidden { display:none; }

.change .filename { float:left; cursor:pointer; }

.change .change-actions { visibility:hidden; float:right; margin-right:10px; }
.change:hover .change-actions { visibility:visible; }


.actions > a { 
    float:right;
    margin-right:1.1em;
}

.tree-actions { 
    padding:1em 0 1em 0.5em; 
    border-top:1px solid #404040; 
}
.tree-actions button { float:right; margin-right:10px; }









