* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.hidden { display:none; }

body {
    padding-top:31px;
}

[class^="icon-"], 
[class*=" icon-"] {
    line-height:17.25px;
    background-image:none;
}

.btn [class^="icon-"], 
.btn [class*=" icon-"] {
    line-height:17.25px;
}

.container-fluid {
    padding:0;
}

.logo a span {
    font-family:'Belgrano', serif;
}

.logo a i {
    margin:2px 4px;
}


.navbar .nav > li > a { padding:6px 10px; }

#main {
    height:100%;
    padding-top:40px;
}

body.route-index,
body.route-edit {
    background:url("/img/classy_fabric.png");
}

.route-index #main.view-list-th ul {
    margin:0 auto;
    width:100%;
}

.route-index #main ul li:hover {
    cursor:pointer;
}

.route-index #main ul li .status {
    color:#bbb;
    font-size:10pt;
}

    .route-index #main.view-list-th ul li {
        float:left;
        width:300px;
        padding:0.5em;
        list-style:none;
        color:#ccc;
    }

    

    .route-index #main.view-list-th ul li > div {
        border:1px solid #333;
        -webkit-border-radius:5px;
        border-radius:5px;
        background:rgba(0, 0, 0, 0.5);
        overflow:hidden;
        padding:0.5em;

        height:120px;
    }

    .route-index #main.view-list-th ul li h1 {
        font-size:12pt;
        margin:0;
        line-height:18pt;
    }

    .route-index #main.view-list-th ul li h2 {
        display:none;
    }

.route-index #main.view-list-ul ul {
    margin:2em;
    width:600px;
    border:1px solid #333;
    -webkit-border-radius:5px;
    border-radius:5px;
    background:rgba(0, 0, 0, 0.5);
}

    .route-index #main.view-list-ul ul li {
        list-style:none;
        border-top:1px solid #333;
        border-bottom:1px solid #000;
        padding:4px 16px;
    }

    .route-index #main.view-list-ul ul li:first-child {
        border-top:none;
    }

    .route-index #main.view-list-ul ul li h1 {
        color:#ccc;
        font-size:16pt;
    }

    .route-index #main.view-list-ul ul li h2 {
        font-size:8pt;
        margin:0 0 12px 0;
        line-height:10pt;
        font-weight:normal;
        color:#777;
    }

.route-edit .changeset {
    color:#fff;
    background:rgba(64, 64, 64, 0.4);
    margin-top:-1em;
    padding-top:1em;
    width:300px;
    border-right:1px solid #444;
    border-bottom:1px solid #444;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);

    top:77px;
    bottom:1em;
    position:absolute;

    
}

    
.route-edit .open-files {
    background:#fff;
    position:absolute;
    left:310px;
    top:64px;
    right:1em;
    bottom:1em;
    background:url("/img/classy_fabric.png");
    padding:0;
}

.route-edit #frame-holder iframe {
    width:100%;
    height:100%;
    margin:0;
    background:url("/img/classy_fabric.png");
}

#tab-content {
    background:#333;
    padding-top:1em;
}


.tab-content > div { display:none; }
.tab-content > div.active { display:block; }

.tab-content > div { 
    position:absolute;
    top:40px;
    bottom:0;
    left:0;
    right:0;
}

.tab-content > div iframe {
    height:100%;
    width:100%;
}

.nav-tabs { margin:0!important; }







.main-topbar {
    background:#444;
    padding:2px 8px;
    position:fixed;
    top:32px;
    left:0;
    right:0;
    border-bottom:1px solid #555;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .4);
}

.main-topbar .breadcrumbs {
    float:left;
    color:#fff;
    line-height:17.25px;
    margin:4px 8px;
}

.main-topbar .breadcrumbs a {
    cursor:pointer;
    color:#fff;
    text-shadow:0px 1px 1px #000;
    text-decoration:none;
}

.main-topbar .breadcrumbs a:hover {
    text-shadow:0px 0px 4px #999;
}

.main-topbar .breadcrumbs a:before {
    margin:0 4px;
    content:"\f054";
    font-family:FontAwesome;
    color:#bbb;
    text-shadow:0px 1px 1px #000;
}

.main-topbar .btn-group {
    float:right;
    margin-right:4em;
}




.staged-changes .change { color:lime; }
.unstaged-changes .change { color:coral; }






/* Tab Nonsense */

ul.nav-tabs { 
    padding-top:4px; 
    padding-left:1em;
    border-bottom:1px solid #555;
}


ul.nav-tabs li { position:relative; z-index:0; }

ul.nav-tabs li a {
    border-top-right-radius: 20px 60px;
    border-top-left-radius: 20px 60px;

    text-shadow: 0px 1px 1px #000000;


    padding:4px 16px;
    position:relative;

    cursor:pointer;

    background: #333333; /* Old browsers */
    background: -moz-linear-gradient(top,  #333333 0%, #333333 80%, #222222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(80%,#333333), color-stop(100%,#222222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #333333 0%,#333333 80%,#222222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #333333 0%,#333333 80%,#222222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #333333 0%,#333333 80%,#222222 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #333333 0%,#333333 80%,#222222 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#222222',GradientType=0 ); /* IE6-9 */


    

    border:1px solid #555 !important;
    

    color:#fff !important;

    z-index:1;
}

ul.nav-tabs li.active a { border-bottom-color:#333!important; }


ul.nav-tabs li a:hover,
.nav-tabs > .active > a, 
.nav-tabs > .active > a:hover {
    background: #444444; /* Old browsers */
    background-color: #444444; /* Old browsers */
    background: -moz-linear-gradient(top,  #444444 0%, #333333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #444444 0%,#333333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #444444 0%,#333333 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #444444 0%,#333333 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #444444 0%,#333333 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
}


