!!!
html(lang='en')
  head
    style html, body { margin:0; } #main-edit { width:100%; height:100%; }
  body
    #main-edit= body
    script(src='/js/jquery-1.7.2.min.js')
    script(src='/js/jquery.hotkeys.js')
    
    script(src="/js/ace/ace.js")
    script(src="/js/ace/theme-twilight.js")
    script(src="/js/ace/mode-javascript.js")
    
    script 
        $(function() { 
            var JavaScriptMode = require("ace/mode/javascript").Mode;

            var editor = ace.edit("main-edit");

            editor.setTheme("ace/theme/twilight");
            editor.getSession().setMode(new JavaScriptMode());

            $(window).keypress(function(event) {
                if (    !(event.which == 115 && event.ctrlKey) 
                    &&  !(event.which == 19)) { 
                    return true;
                }

                parent.App.request.post(
                    "saveFile", 
                    { }
                );
                
                event.preventDefault();
                return false;
            });

        });
