!!!
html(lang='en')
    head
        title Status
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/font-awesome.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Belgrano')
        link(rel='stylesheet', href='/css/common.css')
        link(rel='stylesheet', href='/css/filenav.css')
    body
        input#repo-name(type = "hidden", value = repo)
        
        #general
            .input-append
                input#message(type = "text", placeholder = "Workin on...")
                button.btn(type = "button") Save
        
        #commits
            ul#commit-list
                li Fixed headers
                li Fixed build
                li Removed catastrophic bugs

        #stage
            #stage-files
            div
                button.btn.btn-small Open File
        
        script(src = "/js/jquery-1.7.2.min.js")

        script(src = "/js/underscore-min.js")
        script(src = "/js/backbone-min.js")
        
        script(src = "/js/templates.js")

        script(src = "/js/bootstrap.js")
        script(src = "/js/bootstrap-dropdown.js")
        script(src = "/js/model/repository.js")
        script(src = "/js/model/filetree.js")
        
        script(src = '/js/common.js')
        script(src = '/js/filenav.js')
