dl.mini-status
    dt Branch
    dd= repo.branch

    if repo.changes.message == "changes"
        dt Staged Changes
        dd= repo.changes.staged.length

        dt Unstaged Changes
        dd= repo.changes.unstaged.length

        dt Untracked Files
        dd= repo.changes.untracked.length
