.main-topbar
    .breadcrumbs
        a(href="/#") Home
        a(href="/#workspace") Workspace
        a(href="/#workspace/" + name)= name
    .clearfix
.changeset
    div 
        h1 Staged
    div
        h1 Not staged
        h2 Modified
        div.unstaged.modified
        h2 Deleted
        ul.unstaged.deleted
            for mod in unstaged.deleted
                li(data-path = root + mod.get("path"))= mod.get("path")
#frame-holder
    iframe#source-iframe(frameBorder = 0)