.main-topbar
    .btn-group
        a.btn.view-control.active
            i.icon-list-ul
        a.btn.view-control
            i.icon-th
    .breadcrumbs
    .clearfix
ul.workspaces
    each workspace in workspaces
        li(data-path = workspace.get("path"), data-name = workspace.get("name"))
            div
                h1= workspace.get("name")
                div.status
